header {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

body {
    background-color: #fff;
}

.header-logo img {
    max-width: 100px;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome {
    background-image: url(../img/hero-img.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    flex-direction: column-reverse;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
}

.welcome-div {
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
    color: #000
}

#app {
    margin-top: 50px;
}

.student-details {
    text-align: right;
    padding: 10px;
    background-color: #e56565;
    color: #fff;
}

.student-list li {
    padding: 10px;
    transition: all 0.3s ease;
}

.student-list li:hover {
    background-color: #f0f0f0;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
}


footer {
    margin-top: 100px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    height: 100px;
}