<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Vue Ajax</title>
    <link href="https://fonts.googleapis.com/css?family=Lato%7CRaleway" rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script defer src="js/main.js"></script>


</head>
<body>
    <header>
        <div class="grid-con">
            <div class="header-logo col-span-2 t-col-start-3 t-col-span-2">
                <img src="img/fanshawe-logo.png" alt="fanshawe college logo">
            </div>
        </div>
    </header>

    <main>
        <section id="app">
            <div class="grid-con">
                <h1 class="col-span-full">Student Directory</h1>
                <h2 class="col-span-full">Select a student to view details!</h2>
                <div v-if="isLoading" class="col-span-2 t-col-span-3 student-loader">Loading student list</div>
                <ul v-else class="col-span-2 t-col-span-3 student-list">
                    <li v-for="student in students" :key="student.id" @click="selectStudent(student.id)">
                        {{ student.fname }} {{ student.lname }}
                    </li>
                </ul>

                <div v-if="isDetailLoading" class="col-span-2 t-col-span-3 student-loader">Loading student's details</div>
                <div v-if="selectedStudent" class="col-span-2 t-col-span-3 student-details">
                    <h3>{{ selectedStudent.fname }} {{ selectedStudent.lname }}</h3>
                    <p>Email: {{ selectedStudent.email }}</p>
                    <p>Major: {{ selectedStudent.major }}</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="grid-con">
            <div class="col-span-full">
                <p>
                    &copy; 2025 Alisher and Nikolai
                </p>
            </div>
        </div>
    </footer>
</body>
</html>